
#gameCardArray {
  grid-template-columns: 80fr 80fr 80fr;
  
}
.gameCards {
  margin-top: -10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9.5px; 
  border-radius: 18px;
  border: black 2.5px solid;
  width: 50%;
  
}

#gardenGameCard {background-color: #fcba03;}
#kmkGameCard {background-color: #fc036f;}
#loatheGameCard {background-color: #ff9b87;}
#colectGameCard {background-color: #a987ff;}

button {
  border-radius: 15px;
  width: 100%;
  height: 5%;
}

section {
  width: 65%;
  margin-right: 50px;
  margin-left: 50px;

}
