/*  BODY STUFF */
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

/*  ACHIVMENT STUFF */
#achievementUI {
  display: block;
}
/*  INVENTORY STUFF */

.garden {
  display: grid;
  grid-template-columns: 80fr 80fr 80fr 80fr;
  aline-items: center;
  grid-gap: 1em;
}

.garden div {
  border: groove 10px white;
  aspect-ratio: 1;
}

#gardenUI {
   transition: background-color 2s ease-in;
}
#seed-slots {
  display: grid;
  
  font-family: "Oregano", cursive;
  grid-template-columns: 90fr 90fr 90fr;
}
#super-seed-slots {
  display: grid;
  position: relative;
  font-family: "Oregano", cursive;
  grid-template-columns: 90fr 90fr;
}


.unlockedSeedsNormal {
  position: relative;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 87%;
  height: 20em;
  font-size: 15px;
}

.unlockedSeedsNormal img {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-top: 10px;
  image-rendering: pixelated;
  position: absolute; top: 0; right: 0;

}

.unlockedSeedsNormal ul {
  margin-right: 10px;
  margin-left: -10px;
}


.unlockedSeedsSuper {
  padding-left: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 90%;
  height: 20em;
  font-size: 15px;
}

.split-l {
  height: 100%;
  width: 59%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split-r {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}
.left p {
  margin-bottom: 5px;
}

.right {
  right: 0;
}

#alert {
  width: 90%;
  margin-left: 7px;
  border: black groove 10px;
  display: none;
}

.gallery div {
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
  border: black groove 10px;
  background: #d9c7b6;
}

