@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
animation: blinking 30s infinite alternate none;
}

h1 {
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-size: 13px;
  font-family: 'Libre Baskerville', serif;
}

#map {
  width: 150px;
  height: 150px;
}


@keyframes blinking {
  0% {background: #ffb3c6;}
  100% { background: #f6d4fc; }
}
