@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
animation: blinking 60s infinite alternate none;
}

h1 {
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-size: 13px;
  font-family: 'Libre Baskerville', serif;
}

#map {
  width: 150px;
  height: 150px;
}

@keyframes blinking {
  0% {background: #fa5c5c;}
  15% {background: #fa5c5c;}
  30% {background: #fcfe7f;}
  45% {background: #6bff84;}
  60% {background: #91b0ff;}
  75% { background: #efb1f2;}
  90% { background: #ff73d7;}
}
