#erroralerts {
  display: block;
}

#game{
  background-color: #e0e0e0;
  display: none;
  border: #e0e0e0 10px groove;
} 

#owned {
  display: none;
  border: #e0e0e0 10px groove;
}

#credits {
  display: none;
  border: #e0e0e0 10px groove;
}

#ach {
  display: none;
  border: #e0e0e0 10px groove;
}
