body {
    background-color: pink;
}

#game {
    align-content: center;
    display: grid;
    grid-template-columns: 100fr 100fr 100fr;
}

#char1container, #char2container, #char3container {
    border-radius: 18px;
    border: black 2.5px solid;
    width: 80%;
    height: 100%;
    text-align: center;
    background-color: white;
}
button {
    display: center;
    width: 80%;
    margin: 1px; 
    border-radius: 12px;
    border: 2px black solid;
}



.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 15px;
  border-radius: 5px;
  background: pink;
  outline: none;
    border: black 1px solid;
  opacity: 0.7;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}
